
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
		font-family:'Josefin Sans';
		background-color: #b0E0E6;
		font-size: 20pt;
		margin-top:10em;
		text-align:center;}